<h1><%= @legislators.count %> results</h1>

<% @legislators.each do |legislator| %>
<p><%= legislator.first_name %> <%= legislator.last_name %> (<%= legislator.full_party %>)
<%= link_to "Website", legislator.website %> <%= link_to "Committees", committees_show_path %> </p>
<% end %>
